*.iml
*.jks
*.aab
*.base64
*.json
.gradle
/local.properties
.idea
.kotlin
/build
/captures
.externalNativeBuild
.cxx
local.properties
github.properties
/app/release/screenshots/app_store_custom
/app/release/release
