*.iml
*.jks
*.aab
*.aar
*.base64
*.json
*/libs
.gradle
/local.properties
.idea
.kotlin
/build
/captures
.externalNativeBuild
.cxx
local.properties
github.properties
/app/release/screenshots/app_store_custom
/app/release/release
